@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Chalet";
    src: url(./ChaletComprime.ttf);
}

.div1{
    width: 40%;
    height: 40%;
    left: 30%;
    top: 10%;
    border-radius: 2%;
    border: 1px , solid,black;
    position: absolute;
}

.text{
    display: list-item;
    list-style: none;
    text-align: center;
    margin-top: 7%;
}

